<div class = "team">
    
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our Team</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Team members for MDS-08</p>
    
    <div class="team-item flex space justify-around">
    <div>
        <div class="flex flex-col justify-items-center items-center gap-x-6">
        <img class="h-16 w-16 rounded-full" style="width: 200px; height: 200px;" src="/team/tecksan.jpg" alt="">
        <div>
            <h3 class="text-center text-base font-semibold leading-7 tracking-tight text-gray-900">Looi Teck San</h3>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Project Manager</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Dashboard Developer</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">tloo0009@student.monash.edu</p>
        </div>
        </div>
    </div>

    <div>
        <div class="flex flex-col justify-items-center items-center gap-x-6">

        <img class="h-16 w-16 rounded-full" style="width: 200px; height: 200px;" src="/team/mervyn.jpg" alt="">
        <div>
            <h3 class="text-center text-base font-semibold leading-7 tracking-tight text-gray-900">Mervyn Yeo</h3>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Developer</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Model Developer</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">myeo0009@student.monash.edu</p>
        </div>
        </div>
    </div>

    <div>
        <div class="flex flex-col justify-items-center items-center gap-x-6">
        <img class="rounded-full" style="width: 200px; height: 200px;" src="/team/jianfu.jpg" alt="">
        <div>
            <h3 class="text-center text-base font-semibold leading-7 tracking-tight text-gray-900">Ong Jian Fu</h3>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Quality Assuarance</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">Graph Developer</p>
            <p class="text-center text-sm font-semibold leading-6 text-indigo-600">jong0071@student.monash.edu</p>
        </div>
        </div>
    </div>

    <!-- More people... -->
    </div>
    
  </div>
  
