body {background-color: rgb(245, 245, 245);}

.page{
    margin: 2rem;;
}

.container{
    .header{
        .idk{
            color: blue;
        }
    }
}

.testing{
    .inner{
        color : blue;
    }
}
.section_all{
    margin-bottom: 2rem;
}

.section_1{
    .graph_result{
        display: flex;
        justify-content: space-between;

        .graph_result_1{
            
                display: flex;
                width: 100%;
                justify-content: space-evenly;

                .graph_result_2{
                    display: flex;
                    flex-direction: column;
                #chart-container-1{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                
                }
                #chart-container-2{
                    display: none;
                    position: relative;
                    width: 100%;
                
                }
                #chart-container-3{
                    display: none;
                    position: relative;
                    width: 100%;
                
                }
                #chart-container-4{
                    display: none;
                    position: relative;
                    width: 100%;
                
                }
                #chart-container-5{
                    display: none;
                    position: relative;
                    width: 100%;
                
                }
        }
    }

       
    }
}

.section_2{

    .measurements{
        display: flex;
 
        justify-content: space-evenly;
        
        .forecasted-price{
            background-color: aqua;
            border-radius: 0.5rem;
            padding: 2rem;
            text-align: center;
        }
    }
}

.prediction-summ{
    margin-left: 2rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .left-side{
        display: flex;
        gap: 5rem;
        
        

        .slope-chart{
            #chart-container-6{
                display: inline-block;
                position: relative;
                width: 100%;
            
            }
            #chart-container-7{
                display: none;
                position: relative;
                width: 100%;
            
            }
            #chart-container-8{
                display: none;
                position: relative;
                width: 100%;
            
            }
            #chart-container-9{
                display: none;
                position: relative;
                width: 100%;
            
            }
            #chart-container-10{
                display: none;
                position: relative;
                width: 100%;
            
            }
        }

        .slope-performance{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .slope-text{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .section_all{ section_2{
        justify-self: flex-end;
    }}
}

.dropbtn {
    background-color: #34c8db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #47db34;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
  }
  
  .dropdown-content button:hover {background-color: #ddd; width: 100%;}
  
  .show {display: block;}
