
.container{
    .header{
        .idk{
            color: blue;
        }
    }
}

.testing{
    .inner{
        color : blue;
    }
}

.section_1{
    .graph_result{
        display: flex;
        justify-content: space-between;

        .measurements{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .forecasted-price{
                background-color: aqua;
                border-radius: 0.5rem;
                padding: 2rem;
            }
        }
    }
}