
.perform-main-title{
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    flex-direction: column;
    gap: 1rem;

    .perbtn{
    
        background-color: #34c8db;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
 
    }

    .perbtn:hover, .perbtn:focus {
        background-color: #47db34;
      }

}
#performances-page{
    display: none;
    justify-content: space-between;
    width: 100%;
    background-color: #ddd;
    padding: 2rem;
    border-radius: 0 1rem 1rem 1rem;

}

#perform-title{
    background-color: black;
    padding: 0.5rem 2rem;
    width: fit-content;
    color: white;
    border-radius: 1rem 1rem 0 0;
    display: none;

}

.section_1{
   
   
        
        #chart-perform1{
            display: none;
        }

        #chart-perform2{
            display: none;
  
        }

        #chart-perform3{
            display: none;
        }

        #chart-perform4{
            display: none;
        }

        #chart-perform5{
            display: none;
        }

  
    

}
