
.performance-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section_1{
   
   
        
        #chart-perform1{
            display: none;
        }

        #chart-perform2{
            display: none;
  
        }

        #chart-perform3{
            display: none;
        }

        #chart-perform4{
            display: none;
        }

        #chart-perform5{
            display: none;
        }

  
    

}
